<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.PersonnelManagementSystem.mapper.HrMapper">
    <resultMap id="BaseResultMap" type="org.PersonnelManagementSystem.bean.Hr">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="org.PersonnelManagementSystem.bean.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="org.PersonnelManagementSystem.bean.Role"
                    select="org.PersonnelManagementSystem.mapper.HrMapper.getRoleByHrId"
                    column="id"/>
    </resultMap>
    <resultMap id="eagerLoadRoles" type="org.PersonnelManagementSystem.bean.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="org.PersonnelManagementSystem.bean.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>

    <select id="loadHrByHrEmail" resultMap="lazyLoadRoles">
        SELECT *
        FROM hr
        WHERE email = #{email};
    </select>

    <select id="getRoleByHrId" resultType="org.PersonnelManagementSystem.bean.Role">
        SELECT r.*
        FROM hr_role h_r,
             role r
        WHERE h_r.hr$id = #{id}
          AND r.id = h_r.hr$id;
    </select>
</mapper>